html, body {
    height: 100%;
    margin: 0;
}

#main {
    background-color: #111;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr;
}

#sidebar {
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    background-color: #888;
    padding: 2px 0 2px 2px;
}

#content {
    background-color: #333;
    display: grid;
    grid-template-rows: 1fr 100px;
}

#adventPage {
}

#solver {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
}

#solver textarea {
    resize: none;
}

#solveButton {
    color: #DDD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    -moz-user-select: none;
}

#refresh {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-color: rgba(0, 0, 0, 128);
    background-image: url("refresh.svg");
    cursor: pointer;
}

.sidebarTab {
    box-sizing: border-box;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-color: #444;
    color: #DDD;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3px;
    font-family: "Segoe UI";
    -moz-user-select: none;
    cursor: pointer;
}

#sidebar .selected {
    border-right-style: hidden;
    padding-right: 5px;
    background-color: #333;
}

.hidden {
    display: none;
}